@use "../../var";

section.SecondIntro {
  @include var.flex-container(row, flex-start, center);
  padding-left: 20%;
  gap: 5%;
  div {
    height: 80%;
    &.info {
      width: 30vw;
      max-width: 430px;
      min-width: 300px;
      padding-top: 5%;
      span.aboutPretitle {
        font-family: "Source Code Pro", system-ui;
        color: var.$primary-green;
        font-weight: 600;
      }
      h2 {
        font-family: "Spectral", serif;
        font-size: 3rem;
        color: var.$text-dark-gray;
        font-weight: 600;
        line-height: 1.2em;
        margin: 5% 0;
      }
      p {
        color: var.$text-gray;
        line-height: 2em;
        font-size: 1.2rem;
      }
    }
    &.images {
      position: relative;
      min-width: 300px;
      width: 20vw;
      max-width: 400px;
      img {
        width: 100%;
        box-shadow: var.$shadow-1;
      }
      section.infoCard {
        position: absolute;
        box-shadow: var.$shadow-1;
        border-radius: 5px;
        background-color: var.$primary-green;
        bottom: 0;
        width: 100%;
        right: -80%;
        height: 90%;
        z-index: 10;
        @include var.flex-container(column, center, center);
        gap: 10%;
        article {
          @include var.flex-container(row, center , center);
          width: 100%;
          gap: 5%;
          svg {
            font-size: 4rem;
          }
          &:not(.yoga) {
            svg {
              path {
                fill: var.$accent-dark-yellow;
              }
            }
          }
          &.yoga {
            svg {
              path {
                stroke: var.$accent-dark-yellow;
              }
            }
          }
          p {
            font-size: 1.8rem;
            color: var.$text-light;
            font-weight: 400;
            font-family: "Spectral", serif;
            text-decoration: underline;
            text-decoration-color: var.$accent-dark-yellow;
          }
        }
        h4 {
          font-size: 1.2rem;
          color: var.$text-light;
          font-weight: 600;
        }
      }
    }
  }
}
