@use "../../var";

div.Header {
  position: relative;
  .mySwiper {
    height: 82.5vh;
    .swiper-slide {
      height: inherit;
      background-size: cover;
      filter: blur(2px);
      transform: scale(1.05);
    }
  }
}