@use "../../var";

div.Header {
  height: 82.5vh;
  position: relative;
  .mySwiper {
    height: inherit;
    .swiper-slide {
      height: inherit;
      background-size: cover;
      filter: blur(2px);
      transform: scale(1.05);
    }
  }
  section.info {
    @include var.flex-container(row, center, center);
    position: absolute;
    border: 1px solid red;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
  }
  @media(height > 730px) {
    height: calc(100vh - 128px);
  }
  @media(height < 570px) {
    height: calc(100vh - 100px);
  }
}