@use "../../var";

div.Header {
  height: 82.5vh;
  position: relative;
  .mySwiper {
    height: inherit;
    .swiper-slide {
      height: inherit;
      background-size: cover;
      filter: blur(2px);
      transform: scale(1.05);
    }
  }
  @media(height > 730px) {
    height: calc(100vh - 128px);
  }
  @media(height < 570px) {
    height: calc(100vh - 100px);
  }
}