@use "../../var";

section.MobileNavbar {
  display: none;
  height: 12vh;
  top: 0;
  z-index: 100;
  width: 100vw;
  background-color: var.$primary-green;
  box-shadow: var.$shadow-1;
  div {
    &.logo {
      height: 100%;
      width: 12vh;
      @include var.flex-container(row, center, center);
      img {
        width: 10vh;
        height: 10vh;
      }
    }
    &.text {
      margin-left: 5%;
      text-align: center;
      h2 {
        font-size: 2rem;
        color: var.$text-light;
        font-weight: 400;
      }
      p {
        font-size: 1.5rem;
        color: var.$accent-dark-yellow
      }
    }
  }
  /* Query Mobile */
  @media (max-width: 1024px) {
    @include var.flex-container(row, flex-start, center);
  }
}
