@use "../../var";

article.CourseCard {
  width: 18vw;
  max-width: 300px;
  height: 50vh;
  box-shadow: var.$shadow-3;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  transition: all 0.3s ease-in-out;
  background-image: none;
  cursor: pointer;
  &:hover {
    transition: all 0.3s ease-in-out;
    scale: 1.05;
  }
  position: relative;
  div.shadowBox {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1));
    @include var.flex-container(row, center, flex-end);
    padding-bottom: 10%;
    h4 {
      color: var.$text-light;
      font-size: 2rem;
      font-weight: 400;
      font-family: "Spectral", serif;
    }
    transition: all 0.3s ease-in-out;
    opacity: 0;
    &.hovered {
      transition: all 0.3s ease-in-out;
      opacity: 1;
    }
  }
}