$text-black: #161a14;
$text-light: #e8ede8;
$background-white: #f5f6f4;
$dark-green: #849979;
$light-green: #a4c294;
$accent-green: #385E53;;

$shadow-1: 3px 7px 13px -7.5px rgba(0,0,0,0.3);
$shadow-2: 0 40px 90px 0 rgba(51, 51, 51, 0.3);
$shadow-3: 0px 0px 15px 0px rgba(0,0,0,0.5);

@mixin flex-container($direction, $space, $items) {
  display: flex;
  align-items: $items;
  flex-direction: $direction;
  justify-content: $space;
}
